table,
table.rmdtable {
    justify-content: center;
    width: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

table,
th,
td,
table.rmdtable th,
table.rmdtable td,
table th,
table.rmdtable tr > td:first-child,
table.rmdtable .even .odd{
    border: 2px solid #BBB;
    font-size: 85%;
    padding: 0.4em 0.5em;
    color: inherit;
    background: #FFF;
    font-weight: normal;
}
